#header {
  padding: 0 10px;
  margin-top: 60px;
}
#header .site-title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}
img {
  max-width: 100%;
}
body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}
#detail {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  margin-bottom: 25px;
  border-top: solid 1px;
}